.admin-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 25px;
    font-family: Arial, sans-serif;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
}


.admin-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.admin-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.admin-section h2 {
    margin-bottom: 15px;
    color: #34495e;
}

.admin-section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.admin-section form button {
    grid-column: span 2;
}




.admin-section button {
    padding: 8px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.admin-section button:hover {
    background-color: #2980b9;
}
.admin-section input {
    flex: 1 1 200px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

